@media only screen and (max-width: 400px) {
  .label {
    text-align: center;
    padding-top: 10px;
  }

  label {
    font-size: 20px;
    font-weight: 600;
  }
  .outsidetextbox {
    padding-top: 20px;
    text-align: center;
  }

  .textbox {
    height: 35px;
    width: 300px;
    font-size: 18.5px;
    letter-spacing: 2px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;
    margin: 0;
  }
  .child1 {
    text-align: center;
    padding-top: 20px;
  }
  .child2 {
    text-align: center;
    padding-top: 20px;
  }

  .button1 {
    height: 40px;
    width: 100%;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid black;
    border-radius: 2px;
    background-color: yellow;
    color: blue;
  }
  .button2 {
    height: 40px;
    width: 100%;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button2:hover {
    border: 2px solid black;
    border-radius: 2px;
    background-color: yellow;
    color: blue;
  }
  .ans {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 400px) {
  .label {
    text-align: center;
    padding-top: 10px;
  }

  label {
    font-size: 25px;
    font-weight: 600;
  }
  .outsidetextbox {
    padding-top: 20px;
    text-align: center;
  }

  .textbox {
    height: 30px;
    width: 350px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;
    margin: 0;
  }
  .parent {
    display: flex;
    height: 200px;
  }
  .child1 {
    flex: 1;
    text-align: right;
    padding-top: 80px;
    padding-right: 30px;
  }
  .child2 {
    flex: 1;
    text-align: left;
    padding-top: 80px;
    padding-left: 30px;
  }

  .button1 {
    height: 60px;
    width: 150px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
  .button2 {
    height: 60px;
    width: 150px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button2:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
}
@media only screen and (min-width: 500px) {
  .label {
    text-align: center;
    padding-top: 10px;
  }

  label {
    font-size: 30px;
    font-weight: 600;
  }
  .outsidetextbox {
    padding-top: 20px;
    text-align: center;
  }

  .textbox {
    height: 35px;
    width: 450px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;
    margin: 0;
  }
  .parent {
    display: flex;
    height: 200px;
  }
  .child1 {
    flex: 1;
    text-align: right;
    padding-top: 80px;
    padding-right: 50px;
  }
  .child2 {
    flex: 1;
    text-align: left;
    padding-top: 80px;
    padding-left: 50px;
  }

  .button1 {
    height: 70px;
    width: 175px;
    font-size: 35px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
  .button2 {
    height: 70px;
    width: 175px;
    font-size: 35px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button2:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
}
@media only screen and (min-width: 700px) {
  .label {
    text-align: center;
    padding-top: 10px;
  }

  label {
    font-size: 40px;
    font-weight: 600;
  }
  .outsidetextbox {
    padding-top: 20px;
    text-align: center;
  }

  .textbox {
    height: 45px;
    width: 600px;
    font-size: 25px;
    letter-spacing: 2px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;
    margin: 0;
  }
  .parent {
    display: flex;
    height: 200px;
  }
  .child1 {
    flex: 1;
    text-align: right;
    padding-top: 80px;
    padding-right: 50px;
  }
  .child2 {
    flex: 1;
    text-align: left;
    padding-top: 80px;
    padding-left: 50px;
  }

  .button1 {
    height: 90px;
    width: 180px;
    font-size: 45px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
  .button2 {
    height: 90px;
    width: 180px;
    font-size: 45px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button2:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
}
@media only screen and (min-width: 990px) {
  .label {
    text-align: center;
    padding-top: 10px;
  }

  label {
    font-size: 50px;
    font-weight: 600;
  }

  .outsidetextbox {
    padding-top: 20px;
    text-align: center;
  }

  .textbox {
    height: 50px;
    width: 800px;
    font-size: 30px;
    letter-spacing: 2px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;
    margin: 0;
  }
  .parent {
    display: flex;
    height: 200px;
  }
  .child1 {
    flex: 1;
    text-align: right;
    padding-top: 80px;
    padding-right: 50px;
  }
  .child2 {
    flex: 1;
    text-align: left;
    padding-top: 80px;
    padding-left: 50px;
  }

  .button1 {
    height: 100px;
    width: 200px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
  .button2 {
    height: 100px;
    width: 200px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
  }
  .button2:hover {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    color: blue;
  }
}
